body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #6d6d6d;
}
.jumbotron {
    /* background-color: #f4511e; */
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
}
.btn-custom{
    background-color: #f4511e;
    color: white;
    border: none;
}
.btn-produk{
    background-color: #f4511e;
    color: white;
    border-radius: 20px;
    padding: 10px 10px;
}
.bg-custom{
    background-color: #f4511e;
}
.btn-custom:hover{
    background-color: rgb(240, 190, 190);
}
footer{
    background-color: #f4511e;
    color: #fff;
}
.mapouter{
    width: 100%;
}
#carouselExampleIndicators > .carousel-inner > .carousel-item > img {
    width: 1440px;
    height: 700px;
}
.bg-kontak{
    background-color: #39B64A;
}
.bg-grey{
    background-color: whitesmoke;
}
.img-kontak{
    width: 40px;
    height: 40px;
}
.img-custom{
    width: 50px;
    height: 40px;
}
.produk{
    padding: 10px;
    background: #FFF;
    margin: 10px;
    box-shadow: 2px 5px 5px #0000001a;
    padding-bottom: 30px;
}
.img-fluid {
    max-width: 100%;
    height: auto;
  }
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.informasi{
    line-height: 1em;
}
.img-informasi{
    height: 300px;
}
